# Spring Boot configuration files
*.yml
application-*.yml
*.properties
application-*.properties


# Exception
!src/main/resources/application-example.yml


# Log files
*.log

# Maven build directory
/target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse.gitignore
.classpath
.project
.settings/

# macOS
.DS_Store

# Windows
Thumbs.db